@{
  Layout = "_Layout";
}

<div class="container splash">
  <div class="row">
    <div class="col">
      <h1>Welcome to SillyStringz machine management</h1>
      <p>Register machines and engineers to the system. Engineers can be assigned machine specialties for machines they are licensed to repair. Database edits can be made from both the "Machines" tab and the "Engineers" tab.</p>
    </div>
    <div class="col">
      <img class="img-fluid bg" src="~/img/splash.jpg">
    </div>
  </div>
</div>